@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@400;800&family=Parisienne&family=Roboto&family=Teko:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");

:root {
    box-sizing: border-box;
    scroll-behavior: smooth;

    /* CSS Variables */
    /* Fonts */
    --ff-parisienne: "Parisienne", cursive;
    --ff-montserrat: "Montserrat", sans-serif;
    --ff-lora: "Lora", serif;
    --ff-roboto: "Roboto", sans-serif;
    --ff-rubik-dirt: "Rubik Dirt", cursive;
    --fs-paragraphs: calc(0.8rem + 0.35vw);
    --fs-links-btns: calc(1.4rem + 0.5vw);
}


/* Global Styles */
body {
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: black !important;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

span {
    color: #7c7c7c;
    padding: 0px 40px;
}

/* .active {
  color: #fc036b;
  border-radius: 20px;
  background: whitesmoke;
  font-weight: bold;
} */

body,
html {
    overflow-x: hidden;
    box-sizing: border-box;
}

.container {
    width: 98%;
    max-width: 91rem;
    margin: 0 auto;
}

/*scrollbar*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    /* background: rgba(0, 0, 0, 1.0); */
    /* Increased transparency */
    /* backdrop-filter: saturate(1800%) blur(100px); */
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    /* Adjusted padding */
    z-index: 10;
    color: whitesmoke;
}

.logo {
    font-family: var(--ff-rubik-dirt);
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    padding: 0;
    /* Adjusted padding */
    margin-left: 20px;
    /* Add margin to prevent logo from going outside */
    font-weight: 300;
    color: rgb(254, 252, 252);
}

.nav-links {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 20px;
    /* Add margin to prevent links from going outside */
}

.nav-links li {
    font-family: var(--ff-montserrat);
    margin: 15px 20px;
    position: relative;
    font-weight: bold;
    /* Add relative positioning for link decoration */
}

.nav-links li a {
    position: relative;
    color: var(--fs-links-btns);
    text-decoration: none;
    padding: 5px 10px;
    /* Add padding to create spacing around the text */
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #fb036b;
    text-decoration: underline;
}

.nav-links li a:hover::before {
    content: "";
    position: absolute;
    width: calc(100% + 20px);
    /* Adjust the width to include the spacing */
    height: calc(100% + 20px);
    /* Adjust the height to include the spacing */
    border: 2px solid #f9f9f9;
    border-radius: 20px;
    top: -10px;
    /* Adjust the top position to create spacing */
    left: -10px;
    /* Adjust the left position to create spacing */
    opacity: 0.5;
    z-index: -1;
    transition: opacity 0.3s;
}




/* Home Section */
#home {
    background-image: url('./img/raghu-nayyar-EpAq2EE-shg-unsplash.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 150px 0;
    position: relative;
    height: 90vh;
}

.home-content {
    animation: fadeInUp 1.5s forwards;
}

.home-title {
    font-size: 48px;
    margin-bottom: 20px;
}

.home-description {
    font-size: 24px;
    margin-bottom: 40px;
}

.cta-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: #0056b3;
}

.carousel-text {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -120%);
    text-align: center;
    color: #f9f9f9;
    font-weight: bold;
    font-size: larger;
    font-family: var(--ff-montserrat);
    font-size: var(--fs-links-btns);

    animation: slidein 2s ease-in-out infinite;


}





/* About Section */
#about {
    padding: 80px 0;
    color: #ddd;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    animation: fadeInUp 4.5s forwards !important;
    width: 93.6%;
    margin-left: 60px;
    font-size: 1.08em;
}

.about-content h2 {
    /* text-align: center; */
    /* Remove this line */
    letter-spacing: 2.5px;
    color: #f9f9f9;
    font-size: 2.6em;

    margin-left: 38%;
    margin-bottom: 2%;
    /* Adjust margin to center the heading */
}

#destinations {
    margin-inline: 4.8% 3%;
}

/* Create a grid container for the card columns */
.card-container {
    /* display: grid; */
    /* grid-template-columns: repeat(90, 1fr); */
    /* 3 equal columns */
    /* gap: 20px; */
    /* Adjust spacing between columns */

}

.cards {
    /* position: relative; */
    width: 100%;
    /* Change this to a percentage value, e.g., width: 80%; */
    height: 100%;
    margin: 0 auto;

    /* Add this to center the container horizontally */
}


/* Style for each card */
.custom-card {
    border-radius: 14px !important;
    border: 1px solid #ddd;
    /* Add curved corners */
    overflow: hidden;

    /* Hide overflowing content */
    transition: transform 0.3s, box-shadow 0.3s, filter 0.3s;
    margin-bottom: 30px;
    width: 400px;
}

.custom-card:hover {
    cursor: pointer;
    transform: scale(1.08);
    box-shadow: 10px 13px 20px rgba(0, 0, 0, 0.2);
    filter: brightness(100%);
}

.custom-card .card-body {
    padding: 20px;
}

.custom-card .card-footer {
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
}

.custom-card .card-footer small {
    color: #888;
    border-radius: 50%;
}

.custom-card .card-title,
.custom-card .card-text {
    text-align: justify;
}

.custom-card .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 50vh;
    max-width: 100%;
}

.card-text::-webkit-scrollbar {
    width: 0;
}

.popular_destination {
    text-align: center;
    color: #f9f9f9;
    font-size: 3em;
    letter-spacing: 2.5px;
    animation: fadeInUp 2.5s linear infinite;
    margin-bottom: 26px;
}




/* footer */
.footer {
    width: 100%;
    padding: 10px 80px;
    /* Reduce the top and bottom padding */
    margin: 0;
    background: #222;
    text-align: center;
}

.footer p {
    color: whitesmoke;
    margin: 10px auto;
    /* Reduce the margin */
    padding: 10px auto;
    /* Reduce the padding */
}

.footer span {
    display: block;
    color: whitesmoke;
    padding: 10px auto;
    /* Reduce the padding */
}

.social {
    width: 300px;
    /* Reduce the width */
    margin: 15px auto;
    /* Reduce the margin */
}

.social li {
    list-style: none;
}

.social a {
    margin-right: 10px;
    font-size: 18px;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.social a:hover {
    background-color: #fc036b;
}

.social i {
    display: inline;
    text-align: center;
    color: whitesmoke;
}


/* footer */
.footer {
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #222;
    text-align: center;
}

.footer p {
    color: whitesmoke;
    margin: 20px auto;
    padding: 20px auto;
}

.footer span {
    display: block;
    color: whitesmoke;
    padding: 20px auto;
}



/* Footer Section */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slidein {
    0% {
        transform: translate(-50%, -120%);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -20%);
    }
}

/* Updated One */
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");


input[type=radio] {
    display: none;
}

/* .cardt {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 5vw;
    right: 0;
    top: 14%;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
} */

/* .containerx {
    width: 100%;
    height: 50vh;
    transform-style: preserve-3d;
} */

/* .cards {
    position: relative;
    width: 100vh;
    height: 100%;
} */

/* .cards label img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover !important;
} */

#item-1:checked~.cards #col-img-3,
#item-2:checked~.cards #col-img-1,
#item-3:checked~.cards #col-img-2 {
    transform: translatex(-40%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked~.cards #col-img-2,
#item-2:checked~.cards #col-img-3,
#item-3:checked~.cards #col-img-1 {
    transform: translatex(40%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked~.cards #col-img-1,
#item-2:checked~.cards #col-img-2,
#item-3:checked~.cards #col-img-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;

    img {
        box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
    }
}

#item-2:checked~.player #test {
    transform: translateY(0);
}

#item-2:checked~.player #test {
    transform: translateY(-40px);
}

#item-3:checked~.player #test {
    transform: translateY(-80px);
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    width: 48px;
    height: 22px;
    background-color: #111;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
}

.ball {
    width: 20px;
    height: 18px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

.fa-moon-o {
    color: white;
}

.fa-sun-o {
    color: yellow;
}

.color {
    color: white;
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}





/* mobile responsiveness design */
@media screen and (max-width: 990px) {
    .contact_us {
        flex-direction: column;
        width: 100%;
    }

    form,
    .cbox {
        margin: auto;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1130px) {
    .menu-btn {
        display: block;
    }

    .navbar {
        padding: 45px;
    }

    .logo {
        position: absolute;
        top: 30px;
        left: 15px;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #484872;
        margin-top: -100px;
        transition: all 0.5s ease;
    }

    .mobile-menu {
        margin-top: 22px !important;
        border-bottom-right-radius: 30%;
    }


    .nav-links li {
        margin: 30px auto;
    }
}

@media (max-width: 602px) {
    .row-cols-md-3 {
        --bs-cols: 1;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(var(--bs-gutter-x) / -2);
        --bs-gutter-x: .75rem;
    }
}